.background {
    background-color: bisque;
    height:70%;
    width:70%;
    position:relative;
    top: 10px;
    left: 30px;
    padding: 1% 0 0 1%;
}
h1,
a, 
h2,
h3
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(161, 38, 38);
}
li {
    font-size: 20px;
}
img {
    width: 500px;
    height: auto;
}
a {
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}
.ingredients,
.steps {
    color: black;
}

#description,
li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}
* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}
